body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 45px;
    padding: 2px;
    margin: 2px;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 1px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    font-weight: bold;
    margin-bottom: 2px;
}

.input-box {
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 5px;
    width: 200px;
}

input, button {
    padding: 4px;
    margin: 4px;
    width: 90%;
    border: 1.5px solid #000;
    border-radius: 6px;
    box-sizing: border-box;
}

#meme-container {
    text-align: center;
}

.meme {
    text-align: center;
    margin: 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.image-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.delete-button {
    background-color: #ff1010;
    color: #fff;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 5px;
}


.top-text {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    white-space: pre-wrap;
    max-width: 90%;
    margin: auto;
}

.bottom-text {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    white-space: pre-wrap;
    max-width: 90%;
    margin: auto;
}

#generate {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    font-size: 18px;
    width: 300px;
}

#generate:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#generate:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

#generate:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}